{% extends "ThemesBundle:Default:template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="container">

        <ul class="breadcrumb">
            <li>
                <a href="{{ path('frontend_default_index') }}">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="last">
                <a href="{{ path('pages_default_aboutus') }}">
                    Nosotros
                </a>
            </li>
        </ul>

        <div class="row">
            <div id="content" class="col-sm-12">

                <h1>Nosotros</h1>

                <div class="row about-page">

                    <div class="col-sm-4">
                        <h3>WHY CHOOSE US?</h3>

                        <span class="dropcap">01</span>
                        <div class="extra-wrap">
                            <h4>Lorem ipsum dolor amet consectetur.</h4>
                            <p>Et dolore magna aliqua. Ut enim adim veniam, quis nostrudexercitation amc.</p>
                        </div>

                        <div class="clear"></div>

                        <span class="dropcap">02</span>

                        <div class="extra-wrap">
                            <h4>Vestibulum libero nisl porta sceleris.</h4>
                            <p>Duis aute iruredolor in reprehenderit in. voluptate velit esse. Fusce euismod co.</p>
                        </div>

                        <div class="clear"></div>

                        <span class="dropcap">03</span>

                        <div class="extra-wrap">
                            <h4>Etiam cursus leo vel metus.</h4>
                            <p>Amet, consectetuer adipiscing elit. Pel lentesque sed dolor. Aliquam congue.</p>
                        </div>

                        <div class="clear"></div>
                    </div>

                    <div class="col-sm-8">
                        <h3>a few words about us</h3>

                        <img
                            src="https://livedemo00.template-help.com/opencart_53498/image/catalog/article/page2_pic1.jpg"
                            alt=""
                            class="alignleft">

                        <h4>Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude xercitation ullamco laboris nisi utaquip ex ea.</h4>

                        <p>Duis aute iruredolor in reprehenderit in. voluptate velit esse. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.emo eniptaiades kunasa niausyse hauysgasa.</p>

                        <p>Miuahs onsequ untur magni doloresqui. Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudexercitation ullamco laboris nisi utaquip ex ea. commodo consequa. Duis aute iruredolor in reprehenderit in. voluptate velit esse. Turie ntots nascetur riculus mullamale ada odi dio gravida atcur ecuus.</p>

                        <a target="_self" class="btn btn-default btn-small btn-inline " title="read more" href="index.php?route=information/contact">
                            read more
                        </a>
                    </div>

                    <div class="col-sm-12">
                        <div class="sm_hr"></div>
                    </div>

                    <div class="col-sm-4">
                        <h3>TESTIMONIALS</h3>

                        <div class="testimonials ">

                            <div class="testi-item">
                                <blockquote class="testi-item_blockquote">
                                    <a href="">
                                        Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
                                    </a>
                                    <div class="clear"></div>
                                </blockquote>

                                <div class="testi-meta">
                                    <div class="user">Tim Barkley</div>
                                    <a href="https://demolink.org">https://demolink.org</a>
                                </div>
                            </div>

                            <div class="testi-item">
                                <blockquote class="testi-item_blockquote">
                                    <a href="">Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
                                    </a>
                                    <div class="clear"></div>
                                </blockquote>

                                <div class="testi-meta">
                                    <div class="user">Lisa Whistler</div>
                                    <a href="https://demolink.org">https://demolink.org</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-8">
                        <h3>OUR TEAM</h3>

                        <div class="recent-posts row">
                            <div class="col-sm-4">
                                <figure class="thumbnail featured-thumbnail">
                                    <a title="Robert Johnson" href="index.php?route=information/information&amp;information_id=7">
                                        <img
                                            alt="Robert Johnson"
                                            src="https://livedemo00.template-help.com/opencart_53498/image/catalog/article/Depositphotos_6325694_original-230x240.jpg">
                                    </a>
                                </figure>

                                <h5>
                                    <a title="Robert Johnson" href="index.php?route=information/information&amp;information_id=7">
                                        Robert Johnson
                                    </a>
                                </h5>

                                <div class="excerpt">Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in... </div>
                                <div class="clear"></div>
                            </div>

                            <div class="col-sm-4">
                                <figure class="thumbnail featured-thumbnail">
                                    <a title="xxxx Priston" href="index.php?route=information/information&amp;information_id=8">
                                        <img
                                            alt="xx Priston"
                                            src="https://livedemo00.template-help.com/opencart_53498/image/catalog/article/Depositphotos_10953362_EL4-230x240.jpg">
                                    </a>
                                </figure>

                                <h5>
                                    <a title="Jessica Priston" href="index.php?route=information/information&amp;information_id=8">
                                        vvvv Priston
                                    </a>
                                </h5>

                                <div class="excerpt">Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in... </div>

                                <div class="clear"></div>

                            </div>

                            <div class="col-sm-4">
                                <figure class="thumbnail featured-thumbnail">
                                    <a title="Sam Kromstain" href="index.php?route=information/information&amp;information_id=9">
                                        <img
                                            alt="Sam Kromstain"
                                            src="https://livedemo00.template-help.com/opencart_53498/image/catalog/article/Depositphotos_1382984_original-230x240.jpg">
                                    </a>
                                </figure>

                                <h5>
                                    <a title="Sam Kromstain" href="index.php?route=information/information&amp;information_id=9">
                                        Sam Kromstain
                                    </a>
                                </h5>

                                <div class="excerpt">
                                    Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in
                                </div>

                                <div class="clear"></div>

                            </div>

                            <div class="col-sm-4">
                                <figure class="thumbnail featured-thumbnail">
                                    <a title="Edna Barton" href="index.php?route=information/information&amp;information_id=10">
                                        <img
                                            alt="Edna Barton"
                                            src="https://livedemo00.template-help.com/opencart_53498/image/catalog/article/Depositphotos_28394885_original-230x240.jpg">
                                    </a>
                                </figure>
                                <h5>
                                    <a title="Edna Barton" href="index.php?route=information/information&amp;information_id=10">
                                        Edna Barton
                                    </a>
                                </h5>

                                <div class="excerpt">
                                    Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in...
                                </div>

                                <div class="clear"></div>

                            </div>

                            <div class="col-sm-4">
                                <figure class="thumbnail featured-thumbnail">
                                    <a title="Julie Herzigova" href="index.php?route=information/information&amp;information_id=11">
                                        <img
                                            alt="Julie Herzigova"
                                            src="https://livedemo00.template-help.com/opencart_53498/image/catalog/article/Depositphotos_1961767_original-230x240.jpg">
                                    </a>
                                </figure>

                                <h5>
                                    <a title="Julie Herzigova" href="index.php?route=information/information&amp;information_id=11">
                                        Julie Herzigova
                                    </a>
                                </h5>

                                <div class="excerpt">
                                    Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in...
                                </div>

                                <div class="clear"></div>
                            </div>

                            </div>

                        <div class="spacer"></div>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}